<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            </button>
            <a class="navbar-brand" href="/quiz">Let's go fun!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">#QuizMe!</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://bitbucket.org/ilonaszafner/"><span class="glyphicon glyphicon-education"></span>
                    Bitbucket</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container text-center">
        <h3>
            <ul th:each="sentence:${sentence}">
                <li th:text="${sentence}"></li>
            </ul>
        </h3>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h4>Choose answer</h4><br>
    <form action="/quiz/results">
        <div class="row">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="option" id="exampleRadios1" value="true" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Prawda
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="option" id="exampleRadios2" value="false">
                <label class="form-check-label" for="exampleRadios2">
                    Fałsz
                </label>
            </div>
            <input type="submit" value="Sprawdź odpowiedź">
        </div>
    </form>
</div>
<br>


<footer class="container-fluid text-center">
    <P>Ilona Szafner</P>
</footer>


</body>
</html>





